.form-container {

}

.form-container > * {
    margin: 10px;
}

.submit-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-button {
    background-color: #1dbf73;
    border: 1px solid #1da660;
}

.submit-button:hover {
    background-color: #20d17e;
    border: 1px solid #1dbf73;
}