.form-container {

}

.form-container > * {
    margin: 10px;
}

.submit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &.submit-button {
        background-color: #1dbf73;
        border: 1px solid #1da660;
        width: 100%;
    }

    &.submit-button:hover {
        background-color: #20d17e;
        border: 1px solid #1dbf73;
    }
}