.form-container {

}

.form-container > * {
  margin: 10px;
}

.input-container {
  position: relative;
}

.loader-container {
  position: absolute;
  right: 6px;
  top: 8px;
  z-index: 55;
}

.submit-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.field-error {
  font-weight: 700;
  color: #FF4C4C;
}